{{>headerTs}}

<main class="main_block">
	{{#with info}}
		<div class="info">
			<h1 class="info_title">
				{{title}}
			</h1>
			<p class="info_text">
				{{description}}
			</p>
		</div>
	{{/with}}

	{{> formInput}}
</main>

{{#with updates}}
	<div class="updates">
		<h1 class="updates_title">{{title}}</h1>

		{{#each list}}
			<div class="upd">					
				<div class="updates_image"></div>
				<div class="upd_content">
					<strong class="upd_name">{{nickname}}</strong>
					<p class="upd_text">{{description}}</p>
				</div>
			</div>
		{{/each}}

		<a href="{{show_all.url}}" class="show_all_link">{{show_all.text}}</a>
	</div>
{{/with}}

{{#with expirience}}
	<div class="expirience">
		<div class="expirience_title">{{title}}</div>

		<div class="badge">{{badge}}</div>

		<div class="expirience_list">
			{{#each list}}
				<div class="expirience_items">
					<strong>{{name}}</strong>
					<p>{{details}}</p>
				</div>
			{{/each}}
		</div>
	</div>
{{/with}}

{{> footerTs}}