{{#with data}}
	<div class="art_card">
		<div class="picture">
			<img class="art_card_picture" src="{{photo}}/?blur-{{id}}" alt="{{name}}">
			{{#if isNew}}
				<div class="art_card_badge">NEW</div>
			{{/if}}	
		</div>			
		<div class="art_card_title">{{name}}</div>
		<div class="art_card_text">{{description}}</div>
		<div class="art_card_button">Read All</div>
	</div>
{{/with}}